
<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://openbox.org/
	file:///usr/share/openbox/menu.xsd">
	<menu id="root-menu" label="openbox 3">
		<item label="run program">
			<action name="Execute">
				<command>
					gmrun
				</command>
			</action>
		</item>
		<separator/>
                <item label="file manager">
                        <action name="Execute">
                                <command>
                                        spacefm
                                </command>
                        </action>
                </item>
                <item label="text editor">
                        <action name="Execute">
                                <command>
                                        geany
                                </command>
                        </action>
                </item>

                <item label="media player">
                        <action name="Execute">
                                <command>
                                        vlc
                                </command>
                        </action>
                </item>
                <item label="browser">
                        <action name="Execute">
                                <command>
                                        iceweasel
                                </command>
                        </action>
                </item>
                <separator/>
		<item label="terminal">
			<action name="Execute">
				<command>
					terminator --geometry 558x380+714+370
				</command>
			</action>
		</item>
                <item label="screen">
                        <action name="Execute">
                                <command>
                                        urxvt --geometry 93x20+714+75 -e screen
                                </command>
                        </action>
                </item>
                <item label="tmux">
                        <action name="Execute">
                                <command>
                                        terminator --profile Desktop --geometry 686x676+8+75 -e tmux
                                </command>
                        </action>
                </item>
		<separator/>
		<menu id="crunchbang" label="crunchbang">
		<menu id="terminals" label="terminals">
			<item label="terminator">
				<action name="Execute">
					<command>
					terminator
				</command>
				</action>
			</item>
			<item label="aterm">
				<action name="Execute">
					<execute>
					aterm
				</execute>
				</action>
			</item>
			<item label="urxvt">
				<action name="Execute">
					<execute>
					urxvt --geometry 93x18+714+75 
				</execute>
				</action>
			</item>
			<item label="xterm">
				<action name="Execute">
					<execute>
					xterm
				</execute>
				</action>
			</item>
	              	<item label="terminator-full">
                        	<action name="Execute">
                                	<command>
                                        	terminator --profile Desktop --geometry 1264x680+8+71
                                	</command>
                        	</action>
               		</item>
		</menu>
		<menu id="web browser" label="web browser">
			<item label="iceweasel">
				<action name="Execute">
					<command>
						x-www-browser
					</command>
				</action>
			</item>
			<item label="luakit">
				<action name="Execute">
					<command>
						luakit
					</command>
				</action>
			</item>
			<item label="uzbl brzr">
				<action name="Execute">
					<command>
						uzbl
					</command>
				</action>
			</item>
		</menu>
		<menu id="file manager" label="file manager">
			<item label="spacefm">
				<action name="Execute">
					<command>
					spacefm
				</command>
				</action>
			</item>
		</menu>
		<menu id="text edit" label="text editor">
			<item label="geany">
				<action name="Execute">
					<command>
					geany
				</command>
				</action>
			</item>
		</menu>
		<menu id="geospatial" label="geospatial">
			<item label="google-earth">
				<action name="Execute">
					<command>
				    google-earth
				</command>
				</action>
			</item>
			<item label="stellarium">
				<action name="Execute">
					<command>
				    stellarium
				</command>
				</action>
			</item>
		</menu>
		<menu id="accessories" label="accessories">
			<item label="archive manager">
				<action name="Execute">
					<command>
						file-roller
					</command>
				</action>
			</item>
			<item label="geany text editor">
				<action name="Execute">
					<command>
						geany
					</command>
				</action>
			</item>
			<item label="task manager (htop)">
				<action name="Execute">
					<command>terminator --command=&quot;htop&quot;</command>
				</action>
			</item>
			<item label="terminator terminal">
				<action name="Execute">
					<command>
						terminator
					</command>
				</action>
			</item>
		</menu>
		<menu id="graphics" label="graphics">
			<item label="blender">
				<action name="Execute">
					<command>
						blender
					</command>
				</action>
			</item>
			<item label="gimp">
				<action name="Execute">
					<command>
						gimp
					</command>
				</action>
			</item>
			<item label="inkscape">
				<action name="Execute">
					<command>
						inkscape
					</command>
				</action>
			</item>
			<item label="viewnior">
				<action name="Execute">
					<command>
						viewnior
					</command>
				</action>
			</item>
			<menu id="graphicsScreenshots" label="screenshot">
				<item label="screenshooter">
					<action name="Execute">
						<command>
							xfce4-screenshooter
						</command>
					</action>
				</item>
				<separator label="scrot"/>
				<item label="now">
					<action name="Execute">
						<command>
							scrot ~/img/scrn/scrot-%Y%m%d-%H%M%S.png -e 'viewnior $f'
						</command>
					</action>
				</item>
				<item label="in 5 seconds...">
					<action name="Execute">
						<command>
							scrot -d 5 ~/img/scrn/scrot-%Y%m%d-%H%M%S.png -e 'viewnior $f'
						</command>
					</action>
				</item>
				<item label="in 10 seconds...">
					<action name="Execute">
						<command>
							scrot -d 10 ~/img/scrn/scrot-%Y%m%d-%H%M%S.png -e 'viewnior $f'
						</command>
					</action>
				</item>
				<item label="selected area">
					<action name="Execute">
						<command>
							scrot -s ~/img/scrn/scrot-%Y%m%d-%H%M%S.png -e 'viewnior $f'
						</command>
					</action>
				</item>
			</menu>
		</menu>
		<menu id="multimedia" label="multimedia">
			<item label="easytag">
				<action name="Execute">
					<command>
						easytag
					</command>
				</action>
			</item>
			<item label="volume">
				<action name="Execute">
					<command>
						pavucontrol
					</command>
				</action>
			</item>
			<item label="xfburn">
				<action name="Execute">
					<command>
						xfburn
					</command>
				</action>
			</item>
		</menu>
		<menu id="network" label="network">
			<menu execute="cb-x-www-browser-pipemenu" id="wwwbrowsers" label="www browsers"/>
			<item label="filezilla ftp">
				<action name="Execute">
					<command>
						filezilla
					</command>
				</action>
			</item>
			<item label="transmission bittorrent">
				<action name="Execute">
					<command>
						transmission-gtk
					</command>
				</action>
			</item>
			<item label="irssi irc">
				<action name="Execute">
					<command>
						terminator --command=&quot;irssi --config ~/.irssi/irssi-storge&quot;
					</command>
				</action>
			</item>
			<item label="remote fs">
				<action name="Execute">
					<command>
						gigolo
					</command>
				</action>
			</item>
			<menu execute="cb-remote-desktop-pipemenu" id="remotedesktop" label="remote desktop"/>
			<menu execute="cb-sshconfig-pipemenu" id="sshconfig" label="ssh"/>
			<separator label="services"/>
			<menu execute="cb-dropbox-pipemenu" id="dropbox" label="dropbox"/>
		</menu>
		<menu id="office" label="office">
			<menu execute="cb-libreoffice-pipemenu" id="libreoffice" label="libreoffice"/>
			<item label="google docs">
				<action name="Execute">
					<command>
						x-www-browser https://drive.google.com/
					</command>
				</action>
			</item>
			<item label="abiword">
				<action name="Execute">
					<command>
						abiword
					</command>
				</action>
			</item>
			<item label="gnumeric">
				<action name="Execute">
					<command>
						gnumeric
					</command>
				</action>
			</item>
			<item label="calculator">
				<action name="Execute">
					<command>
						galculator
					</command>
				</action>
			</item>
			<item label="evince pdf">
				<action name="Execute">
					<command>
						evince
					</command>
				</action>
			</item>
		</menu>
		</menu>
		<separator/>
		<menu id="/Debian"/>
		<separator/>
		<menu execute="cb-places-pipemenu" id="pipe-placesmenu" label="places"/>
		<menu execute="cb-recent-files-pipemenu" id="pipe-recentfilesmenu" label="recent files"/>
		<separator/>
		<menu id="settings" label="settings">
			<menu execute="cb-compositor" id="CompositingPipeMenu" label="compositor"/>
			<menu id="conkyconfig" label="conky">
				<item label="edit .conkyrc">
					<action name="Execute">
						<command>
							geany ~/.conkyrc
						</command>
					</action>
				</item>
				<item label="restart conky">
					<action name="Execute">
						<command>
							conkywonky
						</command>
					</action>
				</item>
				<separator label="help?"/>
				<item label="man page">
					<action name="Execute">
						<command>
							terminator --command=&quot;man conky&quot;
						</command>
					</action>
				</item>
				<item label="wiki page">
					<action name="Execute">
						<command>
							x-www-browser http://crunchbanglinux.org/wiki/conky
						</command>
					</action>
				</item>
			</menu>
			<menu id="dmenuconfig" label="dmenu">
				<item label="edit start-up script">
					<action name="Execute">
						<command>
							geany ~/.config/dmenu/dmenu-bind.sh
						</command>
					</action>
				</item>
				<separator label="help?"/>
				<item label="man page">
					<action name="Execute">
						<command>
							terminator --command=&quot;man dmenu&quot;
						</command>
					</action>
				</item>
			</menu>
			<menu id="gmrunconfig" label="gmrun">
				<item label="edit config file">
					<action name="Execute">
						<command>
							geany ~/.gmrunrc
						</command>
					</action>
				</item>
				<separator label="help?"/>
				<item label="man page">
					<action name="Execute">
						<command>
							terminator --command=&quot;man gmrun&quot;
						</command>
					</action>
				</item>
			</menu>
			<menu id="obConfig" label="openbox">
				<item label="edit menu.xml">
					<action name="Execute">
						<command>
							geany ~/.config/openbox/menu.xml
						</command>
					</action>
				</item>
				<item label="edit rc.xml">
					<action name="Execute">
						<command>
							geany ~/.config/openbox/rc.xml
						</command>
					</action>
				</item>
				<item label="edit autostart">
					<action name="Execute">
						<command>
							geany ~/.config/openbox/autostart
						</command>
					</action>
				</item>
				<separator/>
				<item label="gui menu editor">
					<action name="Execute">
						<command>
							obmenu
						</command>
					</action>
				</item>
				<item label="gui applications settings editor">
					<action name="Execute">
						<command>
							obapps
						</command>
					</action>
				</item>
				<item label="gui config tool">
					<action name="Execute">
						<command>
							obconf
						</command>
					</action>
				</item>
				<separator/>
				<item label="reconfigure">
					<action name="Reconfigure"/>
				</item>
				<item label="restart">
					<action name="Restart"/>
				</item>
			</menu>
			<menu id="terminatorconfig" label="terminator">
				<item label="edit config file">
					<action name="Execute">
						<command>
							geany ~/.config/terminator/config
						</command>
					</action>
				</item>
				<separator label="help?"/>
				<item label="man page">
					<action name="Execute">
						<command>
							terminator --command=&quot;man terminator_config&quot;
						</command>
					</action>
				</item>
			</menu>
			<menu id="tint2config" label="tint2">
				<item label="edit config file">
					<action name="Execute">
						<command>
							geany ~/.config/tint2/tint2rc
						</command>
					</action>
				</item>
				<item label="restart tint2">
					<action name="Execute">
						<command>
							tint2restart
						</command>
					</action>
				</item>
				<separator label="help?"/>
				<item label="man page">
					<action name="Execute">
						<command>
							terminator --command=&quot;man tint2&quot;
						</command>
					</action>
				</item>
				<item label="online help">
					<action name="Execute">
						<command>
							x-www-browser http://code.google.com/p/tint2/wiki/Welcome
						</command>
					</action>
				</item>
			</menu>
			<menu id="DisplaySettings" label="display settings">
				<item label="arandr screen layout editor">
					<action name="Execute">
						<command>
						    arandr
					    </command>
					</action>
				</item>
				<separator label="help?"/>
				<item label="man xrandr">
					<action name="Execute">
						<command>
						    terminator --command=&quot;man xrandr&quot;
					    </command>
					</action>
				</item>
			</menu>
			<item label="edit default applications">
				<action name="Execute">
					<command>
						terminator --command=&quot;sudo update-alternatives --all&quot;
					</command>
				</action>
			</item>
			<item label="ui settings">
				<action name="Execute">
					<command>
						lxappearance
					</command>
				</action>
			</item>
			<item label="power management">
				<action name="Execute">
					<command>
						xfce4-power-manager-settings
					</command>
				</action>
			</item>
			<item label="screensaver">
				<action name="Execute">
					<command>
						xscreensaver-demo
					</command>
				</action>
			</item>
			<item label="choose wallpaper">
				<action name="Execute">
					<command>
						nitrogen ~/images/wallpapers/
					</command>
				</action>
			</item>
		</menu>
		<menu id="system" label="system">
			<menu execute="cb-printing-pipemenu" id="PrintingPipeMenu" label="printers"/>
			<item label="gparted">
				<action name="Execute">
					<command>
						gksudo gparted
					</command>
				</action>
			</item>
			<item label="synaptic package manager">
				<action name="Execute">
					<command>
						gksudo synaptic
					</command>
				</action>
			</item>
		</menu>
		<!--<menu id="help" label="Help" execute="cb-help-pipemenu" />-->
		<separator/>
		<item label="lock screen">
			<action name="Execute">
				<command>
					cb-lock
				</command>
			</action>
		</item>
		<item label="exit">
			<action name="Execute">
				<command>
					cb-exit
				</command>
			</action>
		</item>
	</menu>
</openbox_menu>
